.App {
  text-align: center;
}

.backgroundHeader {
  background-image: url("./images.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
}